# Lesson 14 Exercise 1

This section documents exercise 1 from lesson 14

---


### Website performance testing

In this exercise I have to prepare a simple website with 3 pages for JMeter test scenario.


### Homework exercise requirements

Resoult analysis:

* average response time
* throughput (requests/sec)
* % of errors
* impact on resources

Documentation - `this file`

* Test specification
* resoults charts
* bottleneck analysis
* optimization recommendations
